<div class="container-lg" id="seccion2">
  <div class="contenedor-somos">
    <div class="row mb-5 sombras">
      <div class="col-12 col-lg-6 p-0">
        <div class="contenedor-imagen1"></div>
      </div>

      <div class="col-12 col-lg-6 d-flex align-items-center">
        <div class="contenido">
          <div class="titulo">
            <h1>Diseñamos Tu Hogar</h1>
            <div class="subrayado-black"></div>
          </div>
          <p class="mt-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
            necessitatibus atque incidunt, nam quasi deleniti cumque. Adipisci
            id repudiandae tempora recusandae consequatur, autem suscipit fuga
            ducimus, aliquid possimus quisquam a? Tempore autem sunt, distinctio
            placeat minus aliquid! Ullam odit ipsa hic pariatur blanditiis
            laudantium, possimus ea officiis maxime laboriosam labore, deserunt
            consequuntur atque recusandae, molestiae libero nemo dolor
            consequatur accusamus? Aperiam doloremque libero possimus ea
            blanditiis minima laudantium quia. Quos expedita eligendi corrupti.
            Nihil quis quisquam, placeat saepe deserunt pariatur eaque. Earum
            ullam, expedita tenetur obcaecati praesentium corporis non fugit?
            Fugiat neque cupiditate atque assumenda dolores ipsam, fuga suscipit
            quasi fugit voluptatem iste nemo sunt quaerat veritatis, maiores
            omnis. Dolore, beatae in? Enim neque in error iure et sint quasi!
          </p>
        </div>
      </div>
    </div>

    <div class="row contrastar text-white sombras mb-5">
      <div class="col-12 col-lg-6 d-flex align-items-center">
        <div class="contenido">
          <div class="titulo">
            <h1>Segun Tus Gustos</h1>
            <div class="subrayado-white"></div>
          </div>
          <p class="mt-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
            necessitatibus atque incidunt, nam quasi deleniti cumque. Adipisci
            id repudiandae tempora recusandae consequatur, autem suscipit fuga
            ducimus, aliquid possimus quisquam a? Tempore autem sunt, distinctio
            placeat minus aliquid! Ullam odit ipsa hic pariatur blanditiis
            laudantium, possimus ea officiis maxime laboriosam labore, deserunt
            consequuntur atque recusandae, molestiae libero nemo dolor
            consequatur accusamus? Aperiam doloremque libero possimus ea
            blanditiis minima laudantium quia. Quos expedita eligendi corrupti.
            Nihil quis quisquam, placeat saepe deserunt pariatur eaque. Earum
            ullam, expedita tenetur obcaecati praesentium corporis non fugit?
            Fugiat neque cupiditate atque assumenda dolores ipsam, fuga suscipit
            quasi fugit voluptatem iste nemo sunt quaerat veritatis, maiores
            omnis. Dolore, beatae in? Enim neque in error iure et sint quasi!
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-6 p-0">
        <div class="contenedor-imagen2"></div>
      </div>
    </div>
  </div>
</div>
