<div class="container-lg" id="seccion3">
  <div class="row p-0">
    <div class="col-lg-4 border p-0">
      <div class="img1">
        <div
          class="contenido1 d-flex flex-column align-items-center justify-content-center"
        >
          <h3 class="text-white">Habitaciones</h3>
          <p class="text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
            minima cumque, dolor quisquam unde doloribus accusamus repudiandae,
            atque ullam aliquid veniam earum voluptatum labore fuga quod, velit
            fugit eius! Recusandae!
          </p>
          <button class="btn-contratar">Mas Sobre Habitaciones</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 border p-0">
      <div class="img2">
        <div
          class="contenido2 d-flex flex-column align-items-center justify-content-center"
        >
          <h3 class="text-white">Comedores</h3>
          <p class="text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
            minima cumque, dolor quisquam unde doloribus accusamus repudiandae,
            atque ullam aliquid veniam earum voluptatum labore fuga quod, velit
            fugit eius! Recusandae!
          </p>
          <button class="btn-contratar">Mas Sobre Comedores</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 border p-0">
      <div class="img3">
        <div
          class="contenido3 d-flex flex-column align-items-center justify-content-center"
        >
          <h3 class="text-white">Pasillos</h3>
          <p class="text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
            minima cumque, dolor quisquam unde doloribus accusamus repudiandae,
            atque ullam aliquid veniam earum voluptatum labore fuga quod, velit
            fugit eius! Recusandae!
          </p>
          <button class="btn-contratar">Mas Sobre Pasillos</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 border p-0">
      <div class="img4">
        <div
          class="contenido4 d-flex flex-column align-items-center justify-content-center"
        >
          <h3 class="text-white">Baños</h3>
          <p class="text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
            minima cumque, dolor quisquam unde doloribus accusamus repudiandae,
            atque ullam aliquid veniam earum voluptatum labore fuga quod, velit
            fugit eius! Recusandae!
          </p>
          <button class="btn-contratar">Mas Sobre Baños</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 border p-0">
      <div class="img5">
        <div class="img5">
          <div
            class="contenido5 d-flex flex-column align-items-center justify-content-center"
          >
            <h3 class="text-white">Area de trabajo</h3>
            <p class="text-white">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
              minima cumque, dolor quisquam unde doloribus accusamus
              repudiandae, atque ullam aliquid veniam earum voluptatum labore
              fuga quod, velit fugit eius! Recusandae!
            </p>
            <button class="btn-contratar">Mas Sobre Area Trabajo</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 border p-0">
      <div class="img6">
        <div
          class="contenido6 d-flex flex-column align-items-center justify-content-center"
        >
          <h3 class="text-white">Oficinas</h3>
          <p class="text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
            minima cumque, dolor quisquam unde doloribus accusamus repudiandae,
            atque ullam aliquid veniam earum voluptatum labore fuga quod, velit
            fugit eius! Recusandae!
          </p>
          <button class="btn-contratar">Mas Sobre Oficinas</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 border p-0">
      <div class="img7">
        <div
          class="contenido7 d-flex flex-column align-items-center justify-content-center"
        >
          <h3 class="text-white">Cocina</h3>
          <p class="text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
            minima cumque, dolor quisquam unde doloribus accusamus repudiandae,
            atque ullam aliquid veniam earum voluptatum labore fuga quod, velit
            fugit eius! Recusandae!
          </p>
          <button class="btn-contratar">Mas Sobre Cocinas</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 border p-0">
      <div class="img8">
        <div
          class="contenido8 d-flex flex-column align-items-center justify-content-center"
        >
          <h3 class="text-white">Jardines</h3>
          <p class="text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
            minima cumque, dolor quisquam unde doloribus accusamus repudiandae,
            atque ullam aliquid veniam earum voluptatum labore fuga quod, velit
            fugit eius! Recusandae!
          </p>
          <button class="btn-contratar">Mas Sobre Jardines</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 border p-0">
      <div class="img9">
        <div
          class="contenido9 d-flex flex-column align-items-center justify-content-center"
        >
          <h3 class="text-white">Livings</h3>
          <p class="text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
            minima cumque, dolor quisquam unde doloribus accusamus repudiandae,
            atque ullam aliquid veniam earum voluptatum labore fuga quod, velit
            fugit eius! Recusandae!
          </p>
          <button class="btn-contratar">Mas Sobre Livings</button>
        </div>
      </div>
    </div>
  </div>
</div>
